version: 2

jobs:
    buildtest:
        docker:
            - image: debian:testing
        environment:
            DEBEMAIL="contact@whitewaterfoundry.com"
            DEBFULLNAME="Whitewater Foundry, Ltd. Co."
        steps:
            - checkout
            - run:
                name: Ensure we have devscripts and debuild installed
                command: |
                    apt-get -y -q update
                    apt-get -y -q install devscripts debhelper 
            - run:
                name: Update changelog
                command: |
                    rm ./debian/changelog
                    dch --create --distribution buster --package "pengwin-setup" --newversion 0.1-${CIRCLE_BUILD_NUM} "Built on Circle CI"
            - run:
                name: Build the package
                command: debuild -i -us -uc -b
            - run:
                name: Create workspace
                command: mkdir -p /tmp/pkgs
            - run:
                name: Copy package to workspace
                command: cp ../pengwin-setup_0.1-${CIRCLE_BUILD_NUM}_all.deb /tmp/pkgs
            - persist_to_workspace:
                root: /tmp/pkgs
                paths: .
    deploymasterdeb:
        docker:
            - image: circleci/ruby:2.3-jessie
        steps:
            - attach_workspace:
                 at: /tmp/pkgs
            - run:
                name: Install packageloud cli
                command: gem install package_cloud
            - run:
                name: Push deb package
                command: package_cloud push whitewaterfoundry/pengwin-setup/debian/buster /tmp/pkgs/pengwin-setup_0.1-*_all.deb
    deploydevdeb:
        docker:
            - image: circleci/ruby:2.3-jessie
        steps:
            - attach_workspace:
                 at: /tmp/pkgs
            - run:
                name: Install packageloud cli
                command: gem install package_cloud
            - run:
                name: Push deb package
                command: package_cloud push whitewaterfoundry/pengwin-setup-dev/debian/buster /tmp/pkgs/pengwin-setup_0.1-*_all.deb
workflows:
    version: 2
    testdebbuild:
        jobs:
            - buildtest
    deploymasterbranch:
        jobs:
            - buildtest
            - deploymasterdeb:
                filters:
                    branches:
                        only: master
                requires:
                    - buildtest
    deploydevbranch:
        jobs:
            - buildtest
            - deploydevdeb:
                filters:
                    branches:
                        only: development
                requires:
                    - buildtest
