Source: wlinux-setup
Section: unknown
Priority: optional
Maintainer: Whitewater Foundry, Ltd. Co. <contact@whitewaterfoundry.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Version: 0.1-1
Homepage: https://github.com/WhitewaterFoundry/wlinux-setup
Vcs-Browser: https://github.com/WhitewaterFoundry/wlinux-setup
Vcs-Git: https://github.com/WhitewaterFoundry/wlinux-setup.git

Package: wlinux-setup
Architecture: all
Depends: ${misc:Depends}
Description: Setup tool for WLinux.
